@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;  
}

body{
    background-color:#E5E5E5;
    margin: auto;
    font-family: 'Roboto', sans-serif;    
}

.batepapo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    
}

header > ion-icon {
    font-size: 45px;
    margin: 25px 22px;
}

header > img{
    width: 75px;
    height: 53px;
    margin: 25px 22px;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    max-width: 370px;
}

main > div {
    font-family: 'Roboto', sans-serif;
    padding: 15px 5px;
    font-size: 14px;
    margin: 5px 0;
    width: 100vw;
}

main > div > span{
    width: 100vw;
    word-wrap: break-word;
}

.entrou-sala{ background-color: #DCDCDC; }

.envio-msg { background-color: #fff; }

.direct{ background-color:#FFDEDE;}

main > div > span span {
    margin:0 2px;
    line-height: 16px;
}

.user{
    font-weight: bold;
    color: red;
}

.time{
    color: #AAAAAA;
}

.destino{
    font-weight: bold;
}

.enviar {
    background-color: #fff;
    width: 100vw;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.messagem {
    font-size: 18px;
    text-decoration: none;
    outline: none;
    border: none;
    color: #000;
}

.enviar input::placeholder{
    color: #000;    
    font-style: italic;
}

.enviar > div {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}

.enviar > div > span{
    color: #505050;
    font-size: 14px;
    font-weight: 300;
}

.enviar > ion-icon{
    font-size: 30px;
    margin: 25px 22px;
}



/*sidebar*/

.sidebar {
    z-index: 100;
    overflow-x: scroll;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: -150px 0px 0px rgba(0, 0, 0, 0.405);
    width: 259px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}

.sidebar > div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar > div span{
    display: flex;
    
}

.sidebar h3{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
}

.sidebar span{
    display: flex;
    align-items: center;
    margin: 5px 20px;
}
.sidebar p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 8px;
}

.sidebar > div ion-icon{
    font-size: 24px;
}

.sidebar .escolhafinal {
    display: block;
}

.escolha {
    display: none;
    color: #28BB25;
    position: absolute;
    right: 20px;
}

.invisivel{
    display: none;
}


/*Login*/

.login {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login > img {
    width: 130px;
    height: 92px;
    margin-bottom: 90px;
}

.login > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > div input{
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    width: 260px;
    height: 54px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    
}

.login > div button {
    width: 109px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 200px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
    color: #696969;

}

.spinner {
    width: 115px;
    margin-bottom: 20px;
}

.spinnerText {
    font-size: 20px;
}